@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Новый отпуск</title>
</head>
<body>
    <div>
        <h2>@ViewBag.message</h2>
        <form action="/Home/AddVacation/@ViewBag.employer.Id">
            <button>Ок</button>
        </form>
    </div>
</body>
</html>